@font-face {
  font-family: "Fragment-Sans-Light";
  src: local("Fragment"), url("./fonts/PPFragment-SansLight.otf") format("truetype");
}

@font-face {
  font-family: "Fragment-Sans-Regular";
  src: local("Fragment"), url("./fonts/PPFragment-SansRegular.otf") format("truetype");
}

@font-face {
  font-family: "Fragment-Sans-Bold";
  src: local("Fragment"), url("./fonts/PPFragment-SansExtraBold.otf") format("truetype");
}

@font-face {
  font-family: "Fragment-Serif-Regular";
  src: local("Fragment"), url("./fonts/PPFragment-SerifRegular.otf") format("truetype");
}

@font-face {
  font-family: "Fragment-Serif-Light";
  src: local("Fragment"), url("./fonts/PPFragment-SerifLight.otf") format("truetype");
}

@font-face {
  font-family: "Fragment-Serif-Bold";
  src: local("Fragment"), url("./fonts/PPFragment-SerifExtraBold.otf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Fragment-Sans-Regular";
  background-color: black;
  color: white;
}

.left-panel {
  padding: 5px 10px;
  height: 100vh;
  width: 15vw;
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.right-panel {
  width: 85vw;
  height: 100vh;
  position: fixed;
  right: 0;
  background: url(./public/backdrop-4.png);
  background-size: contain;
}

form {
  margin-left: 10px;
  margin-top: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-section {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
}

h1 {
  font-family: "Fragment-Sans-Light";
  font-size: 1.8rem;
  margin: 0;
}

h2 {
  padding: 0 10px;
}

input {
  width: 60%;
  height: 25px;
  background-color: black;
  border: none;
  border-bottom: 0.5px solid white;
  color: white;
  border-radius: 3px;
}

.new-to-do-input {
  width: 30%;
}

input:focus {
  outline: none;
  box-shadow: 0 0.5px 0.2rem rgb(220, 220, 220);
}

button {
  height: 30px;
  width: 30px;
  background-color: black;
  border: none;
  color: white;
  font-size: 1.8rem;
}

.column-container {
  margin: 0;
  width: 30%;
  min-height: 500px;
}

.column {
  height: 100%;
  width: 90%;
  background-color: rgb(28, 28, 28);
  border-radius: 20px;
  padding: 10px 10px;
  margin: 10px;
}

.column-droppable {
  height: 100%;
  width: 90%;
  background-color: rgb(28, 28, 28);
  border-radius: 20px;
  padding: 10px 10px;
  margin: 10px;
  border: 1px solid white;
}

.burger-menu {
  width: 30px;
  height: 30px;
}

img {
  width: 100%;
  height: 100%;
}

.to-do-item {
  border-radius: 15px;
  height: 50px;
  margin: 10px;
  padding: 2px 10px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.to-do-item-dragged {
  height: 50px;
  margin: 10px;
  padding: 2px 10px;
  background-color: black;
  border-radius: 15px;

  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
}

.delete-button {
  border: none;
}
